@font-face {
    font-family: 'Nunito Sans';
    src: url(../fonts/NunitoSans_10pt-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url(../fonts/NunitoSans_10pt-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url(../fonts/NunitoSans_10pt-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Nunito';
    src: url(../fonts/Nunito-Light.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Oswald';
    src: url(../fonts/Oswald-Regular.ttf);
    font-weight: 400;
}